@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.auth-form {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: $blue;
    align-items: center;
    width: 60%;
    padding: 30px 0;
    border-radius: 10px;
    color: $dark-blue;
    min-height: 50%;
    justify-content: center;

    input {
        @include auth-input;
    }

    button {
        @include btn;
        margin-top: 20px;
    }

    p {
        margin-top: 10px;

        a {
            margin-left: 5px;
            color: $dark-blue;

            &:hover {
                cursor: pointer;
                color: $green;
            }
        }
    }

    .error {
        color: red;
    }
}

.pfp-upload {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;

    input[type=file]::file-selector-button {
        background-color: #fff;
        color: $dark-blue;
        border: 0px;
        border-right: 1px solid $blue;
        padding: 10px 15px;
        margin-right: 20px;
    }

    input[type=file]::file-selector-button:hover {
        background-color: $green;
        border: 0px;
        border-right: 1px solid $blue;
        cursor: pointer;
      }
}