@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.friends-container {
    @include content-container;

    .friends-content-container {
        @include right-side-content-container;

        .friend-info {
            @include person-info;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }
}

.p-center {
    text-align: center;
}